---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign in">
  <a href="/signin" class="btn btn-primary">Sign In</a>
  <br />
  <a href="/register" class="btn btn-primary">Create Account</a>
  <!-- <a href="/register" class="btn btn-primary">Create Account</a> -->
</Layout>
